* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main h1 {
  margin: calc(10px * 4);
}

header {
  background-color: whitesmoke;
}

header h2 {
  padding: calc(10px * 4);
}

header h2,
header h3 {
  display: inline-block;
}

header a {
  margin-right: 20px;
  text-decoration: none;
  color: #dd6f15;
}

.dresses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.dress-card {
  margin: 10px;
  width: calc((100% / 3) - ((3 + 1) * 10px));
  background-color: whitesmoke;
}

.dress-card * {
  margin-bottom: 10px;
}

.dress-card img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.dress-card h3 {
  text-transform: uppercase;
}

footer {
  padding: calc(10px * 4);
  background-color: whitesmoke;
}

