* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main h1 {
  margin: calc(10px * 4);
}

header {
  background-color: whitesmoke;
}

header h2 {
  padding: calc(10px * 4);
}

header h2,
header h3 {
  display: inline-block;
}

header a {
  margin-right: 20px;
  text-decoration: none;
  color: #dd6f15;
}

footer {
  padding: calc(10px * 4);
  background-color: whitesmoke;
}

